#header-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

#header-container ul {
  display: flex;
  flex-direction: row;
}

#header-container li {
  list-style: none;
}

nav {
  display: flex;
  justify-content: center;
  padding: 20px;
}

nav a {
  padding: 10px;
  box-shadow: 5px 5px 5px #1a191a;
  background-color: #f6ba88;
  text-decoration: none;
  color: #262a2d;
}

nav a:hover,
nav .active {
  background-color: #fad3b3;
}

h1 {
  color: #c33e3f;
}
/* Light Gray: E1E7E7
Cream: FFEFBC
Orange: F6BA88
Red: C33E3F
Dark Gray: 262A2D  */
/* nav ul > li + li{
  border-left: 1px solid #5b0b53;
} */
