.ingredientName {
  margin-right: 10px;
}

i {
  color: #6ac33e;
  font-size: 1.5em;
  align-self: center;
}

i:hover {
  cursor: pointer;
}

.p-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
