.name {
  margin-right: 10px;
}

.p-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#create-recipe-form input[name="name"],
#create-recipe-form [name="category"],
#create-recipe-form [name="cuisine"] {
  width: 200px;
}

#submit-button,
#ingredient-controls {
  text-align: center;
  padding: 5px;
}

#ingredient-inputs p {
  padding-top: 5px;
}
