.ingredient-name,
.ingredient-amount {
  margin-right: 10px;
}

i {
  color: green;
  font-size: 1.5em;
  align-self: center;
}

.p-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
