#home-container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-container h2{
    text-align: center;
}

#home-image {
   width: 512px;
   height: 342px;
   padding: 20px;
}

small a{
    color: #C33E3F
}