.recipe-card {
  background-color: #ffefbc;
  border: 4px double #262a2d;
  padding: 5px;
  width: 350px;
  margin: 5px 0 5px 0;
}

.recipe-card h3 {
  text-align: center;
}

#recipe-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
