#search-for-recipe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  justify-content: space-evenly;
}

.fa-save {
  color: #6ac33e;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
}
