/* Color Palette (light to dark):

Light Gray: E1E7E7
Cream: FFEFBC
Orange: F6BA88
Red: C33E3F
Dark Gray: 262A2D */

* {
  margin: 0;
}

body {
  background-color: #edf4f4;
  color: #262a2d;
  font-family: "Quicksand", sans-serif;
}

h1,
h2 {
  font-family: "Merienda One", cursive;
}

h2 {
  padding-bottom: 10px;
}

.main-container {
  padding: 20px 0 20px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container h2 {
  text-align: center;
}

#app-container {
  min-width: 550px;
}

i {
  font-size: 1.5em;
  padding: 0 5px 0 5px;
}

.fa-plus-square {
  color: #6ac33e;
}

.fa-minus-square {
  color: #c33e3f;
}

i:hover {
  cursor: pointer;
}

input[type="submit"] {
  padding: 5px;
  background-color: #ffe799;
  border: none;
  box-shadow: 5px 5px 5px #1a191a;
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: #fff1c2;
}

input[type="submit"]:focus {
  outline: 1px solid #1a191a;
}

form input,
form textarea,
form select {
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
}
form p {
  padding-top: 5px;
}

form {
  padding-bottom: 20px;
}
