/* Color Palette (light to dark):

Light Gray: E1E7E7
Cream: FFEFBC
Orange: F6BA88
Red: C33E3F
Dark Gray: 262A2D */

* {
  margin: 0;
  padding: 0
}

body {
  background-color: #edf4f4;
  color: #262A2D;
  font-family: 'Quicksand', sans-serif;
}

h1, h2 {
  font-family: 'Merienda One', cursive;
}

h2 {
  padding-bottom: 10px
}

.main-containers  {
  padding-top: 20px;
}

#app-container {
  width: 90vw;
  height: 90vh;
  border: 1px solid black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
